* {box-sizing: border-box; }

body{
    background-image:url("../images/jaguar-xe.jpg");
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.container-text {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;    
    border-radius: 10px;
    margin-right: 50px;
}

p, h1 {
    color: white;
    text-align: left;
    line-height: 25px;
    padding: 10px 30px 5px 30px;
    
}

.button {
    background-color: #DB3030;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    margin: 0px 30px 20px 30px;
    cursor: pointer;
}

